div {
    width: 200px;
    height: 200px;
}

h1 {
    background-color: pink;
}

#one {
    background-color: #efc3e6;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box; /* 테두리를 기준으로 요소의 크기 결정 */
}

#two {
    background-color: #f0a6ca;
    border-color: black;
    border-style: dotted;
    border-width: 3px;
    border-right-width: 8px; /* 오른쪽 테두리만 다르게 설정 가능*/
    box-sizing: border-box;
}

#three {
    background-color: #9c89b8;
    border: 4px solid black; /* 속기법 사용 (두께>스타일>색상) */
    border-left-style: dotted;
    /* border-radius: 10px; 모서리 둥글게 */
    border-radius: 50px; /* 원형 */
    box-sizing: border-box;
}