html {
    font-size: 15px;
}

body {
    margin: 0;
    /* body 태그의 기본 여백 값을 지움 -> 낭비하는 공간을 없앨 수 있음, 효율적인 작업 */
}

/* 픽셀(px)
: 가장 흔히 사용되는 절대 단위
디스플레이의 크기에 따라서는 달라질 수 있지만 디스플레이 안에서는 절대적인 크기 */

div {
    width: 200px;
    height: 200px;
}

h1 {
    background-color: pink;
    width: 200px;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 0; /* h1태그의 기본 여백 값을 지움 */
}

span {
    margin-left: 20px; /* span 요소가 오른쪽으로 밀림 */
    margin-top: 30px; /* 왜 밀리지 않는걸까? -> 디스플레이 특성 */
}

#one {
    background-color: #efc3e6;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box; /* 테두리를 기준으로 요소의 크기 결정 */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #f0a6ca;
    border-color: black;
    border-style: dotted;
    border-width: 3px;
    border-right-width: 8px; /* 오른쪽 테두리만 다르게 설정 가능*/
    box-sizing: border-box;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #9c89b8;
    border: 4px solid black; /* 속기법 사용 (두께>스타일>색상) */
    border-left-style: dotted;
    border-radius: 10px; /* 모서리 둥글게 */
    border-radius: 50px; /* 원형 */
    box-sizing: border-box;
}

button {
    padding: 0 20px; /* vertical horizontal */
    padding: 0 10px 20px; /* top vertical bottom */
    padding: 10px 20px 30px 40px; /* top right bottom left */
}

/* perentage(%) 
: 상대적, 너비나 높이 지정에 가장 많이 사용됨.
너비 요소의 50%라고 설정하면 부모 요소의 절반 너비로 설정됨. */

#percentages{
    width: 400px;
    height: 400px;
    background-color: #bde0fe;
}

#percentages div {
    width: 50%;
    height: 50%;
    background-color: #a2d2ff;
}

h2 {
    border: 5px solid black;
    font-size: 40px;
    line-height: 200%; /* 80px와 같게 나옴, 부모 요소가 아닌 폰트 크기 기준 */
}

/* em
: 상대적, 부모의 글꼴 크기에 따라 배수로 설정됨.중첩되면 점점 배가 됨. */

h3 {
    font-size: 2em; /* 40px */
    margin-left: 1em; /* 20px 글자 크기에 따라 여백의 크기도 달라짐*/
}

h4 {
    font-size: 1.5em; /* 30px */
}

p {
    font-size: 1em; /* 20px */
}

#ems {
    font-size: 15px;
}

button {
    font-size: 1em; /* 20px */
    padding: 0 1em; /* 0 20px */
    border-radius: 0.5em; /* 10px */
    background-color: #ffb703;
}

#ems ul {
    font-size: 1.2em;
}

/* rem
:중첩될 때의 문제점을 해결할 수 있음. 글꼴의 크기를 부모 요소의 크기에 따라
바꾸지 않고 루트 HTML 요소의 글씨 크기에 따라 바뀜. */

#rems h3 {
    font-size: 3rem;
}

#rems h4 {
    font-size: 2rem;
}

#rems ul {
    font-size: 0.8rem;
}

#rems button {
    font-size: 1.5rem;
}